# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

frontend/gui/node_modules/
frontend/gui/public/
frontend/gui/build/
backend/env/
staticfiles/admin/
staticfiles/media/
staticfiles/rest_framework/
staticfiles/static/
staticfiles/materialEditor/
*.pyc
*.log
*.sql
*.sqlite
*.sqlite3
