frontend/node_modules/
frontend/public/
frontend/build/
backend/env/
backend/src/portfolio/settings.py
backend/src/portfolio/urls.py
static/
.idea
*.test.js
setupTests.js
serviceWorker.js
.env.development
*.mp4
.env.production

skey
*.pyc
*.log
*.sql
*.sqlite
*.sqlite3
